/********************
 * FEATURE CAROUSEL *
 ********************/
.home{
    width: 600px;height: 100px;
    position: fixed;top:0;right:0;left: 0;margin: auto;
}
.home p{
    font-size: 30px;font-family: "微软雅黑";
    text-align: center;line-height: 100px;
}
#featureCarousel {
    height: 400px;
    /*width:1200px;*/
    position:fixed;top:0;right:0;bottom:0;left: 0;margin: auto;
}
#featureCarousel img {
    width: 900px;
    border:0;
}
#featureCarousel .feature {
    position:absolute;
    top:-1000px;
    left:-1000px;
    border:3px solid white;
    cursor:pointer;
}
#featureCarousel .feature > div {
    position:absolute;
    bottom:0px;
    left:0px;
    background-color:black;
    width:100%;
}
#featureCarousel .feature > div p {
    margin:0;
    padding:5px;
    font-weight:bold;
    font-size:12px;
    color:white;
}
#featureCarousel .blipsContainer {
    width: 200px;
    position:fixed;bottom:5%;left: 0;right: 0;
    margin: auto;
    color:white;
}
#featureCarousel .blipsContainer .blip {
    margin:3px;
    height:30px;
    width:30px;
    color:white;
    text-align:center;line-height: 30px;
    font-size:10px;
    border:1px dotted black;
}
#featureCarousel .blipsContainer .blipSelected {
    color:white;
    font-weight:bold;
    background-color:black;
}