
* {
    margin: 0; padding: 0;
}
ul,li,body,a{
    padding: 0;margin: 0;
    list-style: none;
    text-decoration: none;
}
body {
    font: 16px/1.8 "Microsoft Yahei",verdana;
}
canvas{
    /*background: url("../img/section44.jpg") no-repeat;*/
    /*background-size: 100% 100%;*/
    position: absolute;top:0;left: 0;
    z-index: 10;
}
.header{
    position: fixed;
    top: 0px;  left: 0px;
    height: 70px;width: 100%;
    line-height: 70px;
    z-index: 10;
}
.header-bg{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #000;
    opacity: 0.1;
}
.logo{
    width: 240px;height:65px;
    background: url("../img/logo.png") no-repeat;
    background-size: cover;
}
.nav{
    position: absolute;top: 0;left: 0;right:0;
    margin: auto ;
    margin-top: 20px;
    height: 36px; width: 485px;
    line-height: 36px;
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.nav-bg{
    position: absolute;top:0;left: 0;
    width:120px;height: 36px;
    border:1px solid #fff;
    border-radius:30px ;
    z-index:-1;
    transition:transform 1s ease ;
}
.nav li{
    width: 120px;height: 36px;

}
.nav li:hover{
    cursor:pointer;
}
.nav li a{
    display: block;
    width: 100%;height: 100%;
    color:#fff;
    font-family:"Microsoft YaHei" ,Helvetica Neue,Tahoma,Arial,"微软雅黑","宋体","黑体";
    font-weight: 600;
    font-size: 12px;
    text-align: center;
}
/* 右侧导航 */
#fp-nav.right{
    right: 20px;
}
#fp-nav ul li {
    width: 90px; height: 21px;
    margin: 10px 0 0;
    vertical-align: middle;
}
#fp-nav ul li a {
    float: right; width: 21px; height: 21px;
    color: #fff; text-decoration: none;
    text-align: right;
    background: url(../img/dot.png) 5px 5px no-repeat;
}
#fp-nav ul li .active {
    background-position: 0 bottom;
}
#fp-nav ul li span{
    display: none;
}
#fp-nav ul li .fp-tooltip {
    float: left; top: 0; margin-right: 5px;
    font: 12px "Microsoft Yahei";
    color: #fff;
    line-height: 21px;
}

.section {
    position: relative;
    overflow: hidden;
}
.section .bg {
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
}
.section .bg img {
    display: block;
    width: 100%; height: 100%;
}

.bg1{
    background: -webkit-gradient(linear, 0% 100%, 100% 0%, from(rgb(133, 85, 255)), to(rgb(64, 94, 245)));
}
.mail {
    position: absolute; left: 0; right:0;top: -50%;margin: auto;
    width: 512px; height: 512px;
    /*background-image: url(../img/logo.png);*/
    /*transition: all 1s;*/
}
.mail .logo-zi{
    position:absolute;
    top:0;left: 0;
    right:0;
    bottom:0;
    margin: auto;
}
.logo-shadow{
    position:absolute;
    left: 0;
    right:0;
    bottom:-10%;
    margin: auto;
}
@keyframes inner {
    0%{
        top: -50%;
    }
    80%{
        top:14%;
    }
    100%{
        top:13%;
    }
}
@keyframes logo {
    0%{
        transform:rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.section strong {
    position: absolute; left: 0; right:0;top: 5%;margin: auto;
    z-index: 10;
    width: 512px; height: 45px;
    font-weight: 500; color: #fff;
    font-size: 20px;
    opacity: 0;
    transition: all 1s;
}

.section h3 {
    position: absolute; left: 0; right:0;top: 15%;margin: auto;
    z-index: 10;
    width: 512px;
    height: 45px;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 1s;
}
.active strong {
    opacity: 1;
    top:15%;
    transition-delay: 0.7s;
}
.active h3{
    opacity: 1;
    top:25%;
    transition-delay: 0.7s;
}
.section2 strong {
    width: 561px;
}
.section2 h3 {
    width: 561px;
    background-image: url(../img/t2.png);
}
.section3 strong {
    width: 561px;
}
.section3 h3 {
    width: 561px;
    background-image: url(../img/t3.png);
}

.bg31 {
    position: absolute;
    left: 25%; top: 30%;
    width: 20%; height: 200px;
    opacity: 0;
    transition: all 1s;
}
.bg32 {
    position: absolute;
    left: 35%; top: 30%;
    width: 20%; height: 200px;
    opacity: 0;
    transition: all 1s;
}
.bg33 {
    position: absolute;
    left: 45%; top: 30%;
    width: 20%; height: 200px;
    opacity: 0; transition: all 1s;
}
.bg34{
     position: absolute;
     left: 55%; top: 30%;
     width: 20%; height: 200px;
     opacity: 0; transition: all 1s;
 }
.bg35{
    position: absolute;
    left: 65%; top: 30%;
    width: 20%; height: 200px;
    opacity: 0; transition: all 1s;
}
.bg31,.bg32,.bg33,.bg34,.bg35{
    background-size: 30% ;
}
.bg31 a{
    background: url(../img/bg31.png) 50% 0 no-repeat;
}
.bg32 a{
    background: url(../img/bg32.png) 50% 0 no-repeat;
}
.bg33 a{
    background: url(../img/bg33.png) 50% 0 no-repeat;
}
.bg34 a{
    background: url(../img/bg34.png) 50% 0 no-repeat;
}
.bg35 a{
    background: url(../img/bg35.png) 50% 0 no-repeat;
}
.frm{
    cursor:pointer;
    display:block;
    width:85px;
    height:81px;
    background-size:83px 166px;
    background-repeat:no-repeat;
    background-position:0 0;
    -webkit-transition:all .25s ease-out;
    -moz-transition:all .25s ease-out;
    -ms-transition:all .25s ease-out;
    transition:all .25s ease-out;
}
.frm:hover{background-position:0 -80px;
    -webkit-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    transform:rotate(-90deg);
}


.active .bg31 {
    top: 40%;
    opacity: 1;
    transition-delay: 0.7s;
}
.active .bg32 {
    top: 40%;
    opacity: 1;
    transition-delay: 0.9s;
}
.active .bg33 {
    top: 40%;
    opacity: 1;
    transition-delay: 1.2s;
}
.active .bg34 {
    top: 40%;
    opacity: 1;
    transition-delay: 1.5s;
}
.active .bg35 {
    top: 40%;
    opacity: 1;
    transition-delay: 1.8s;
}
.bg74 img {
    position: absolute; left: 0; bottom: 0;
    width: 100%; height: 251px;
}


.bg24 {
    position: absolute;
    width: 100%; bottom: 2%; height:35%;
    background: url(../img/bg81.png) 50% 0 no-repeat;
}


.bg21, .bg22, .bg23 {
    padding-top: 10%;
    font-size: 16px;
    color: #fff;
}
.bg21 {
    position: absolute;
    left: 5%;
    bottom: 15%;
    /*background: url(../img/i1.png) 50% 0 no-repeat;*/
    opacity: 0;
    transition: all 1s;
}
/*.bg21 p {*/
    /*position: relative; left: 0;*/
    /*text-align: center;*/
/*}*/
.bg22 {
    width: 300px;
    position: absolute; left: 0; right:0;bottom: 15%;margin: auto;
    /*background: url(../img/i1.png) 50% 0 no-repeat;*/
    opacity: 0;
    transition: all 1s;
}
.bg22 p {
    position: relative;
    left: 0;text-align: center;
}
.bg23 {
    position: absolute;
    right: 5%;
    bottom: 15%;
    /*background: url(../img/i1.png) 50% 0 no-repeat;*/
    opacity: 0; transition: all 1s;

}
/*.bg23 p {*/
    /*position: relative; left: 0;*/
    /*text-align: center;*/
/*}*/
.active .bg21 {
    left: 10%;
    opacity: 1;
    transition-delay: 0.7s;
}
.active .bg22 {
    opacity: 1;
    transition-delay: 0.8s;
}
.active .bg23 {
    right: 10%;
    opacity: 1;
    transition-delay: 0.7s;
}
.bg42 {
    position: absolute; width: 100%; top: 25%; height: 79px;
    background: url(../img/bg52.png) 50% 0 no-repeat;
    opacity: 0;
    -webkit-transform:scale(0.5, 0.5);
    transform:scale(0.5, 0.5);
    transition: all 1s;
}
.bg43 {
    position: absolute;
    width: 100%; top: 25%; height: 37px;
    margin-top: 110px;
    background: url(../img/bg53.png) 50% 0 no-repeat;
    opacity: 0;
    -webkit-transform:scale(0.5, 0.5);
    transform:scale(0.5, 0.5);
    transition: all 1s;
}
.go {
    position: absolute;left: 0;right:0;bottom: -5%;margin: auto;
    width: 203px; height: 85px;
    background-image: url(../img/btn.png) ;
    background-repeat: no-repeat;
    opacity: 0;
    transition: all 1s;
}
/* CSS3过度及动画 */



.active .bg42, .active .bg43 {
    opacity: 1;
    -webkit-transform:scale(1, 1);
    transform:scale(1, 1);
    transition-delay: 0.7s;
}
.active .go {
    bottom: 17%;
    opacity: 1;
    transition-delay: 0.2s;
}
.go:hover{
    background-image: url(../img/btn-h.png);
    animation:hover-btn 1s ease;
}
@keyframes hover-btn {
    0% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}
